@import url(https://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Julius+Sans+One|Arapey);

$font-main: 'Arapey', serif;
$font-header: 'Julius Sans One', sans-serif;
$font-special: 'Nothing You Could Do', cursive;

@mixin font {
    font-family: $font-header;
    font-weight: normal;
    text-transform: uppercase;
}

body{
    font-size: 100%;
    font-family: $font-main;
}
.container{
    max-width: 960px;
    margin: auto;
}
main{
    line-height: 130%;
    p{
        letter-spacing: 0.1em;
        font-size: 120%;
    }
}
h1{
    font-size: 2em;
    @include font;
}
h2{
    font-size: 1.5em;
     @include font;
}
h3{
    font-size: 1.2;
    @include font;
}
img{
    width: 100%;
}
    
nav{
    ul{
        margin:0;
        padding: 0;
        list-style: none;
     }
    li{display: inline-block;}
    a{
        display: block;
        padding: 0.5em 0.2em;
        text-decoration: none;
        @include font;
    }
}