nav{
    ul{
        margin:0;
        padding: 0;
        list-style: none;
        color:red;
    }
    li{display: inline-block;}
    a{
        display: block;
        padding: 0.5em 1em;
        text-decoration: none;
    }
    }