@import url(https://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Julius+Sans+One|Arapey);

$font-main: 'Arapey', serif;
$font-header: 'Julius Sans One', sans-serif;
$font-special: 'Nothing You Could Do', cursive;
//blue
//$color-darkest: #425059;
//$color-lighter: #A8B6BF;
$color-lightest: #f2e3cd;
//sand
$color-darkest: #3D222E;
$color-lighter: #71354E;
//$color-lightest: #f2e3cd;
@mixin font {
    font-family: $font-header;
    font-weight: normal;
    text-transform: uppercase;
}

body{
    font-size: 100%;
    font-family: $font-main;
    color: $color-darkest;
}
.container{
    max-width: 960px;
    margin: auto;
}
main{
    line-height: 140%;
    p, li{
        letter-spacing: 0.1em;
        font-size: 120%;
    }

}
h1{
    font-size: 2em;
    @include font;
}
h2{
    font-size: 1.5em;
     @include font;
}
h3{
    font-size: 1.2em;
    @include font;
}

a{
    color: $color-darkest;
}
.center {
    display: block;
    margin: auto;
}
header{
    padding: 0.5em 0;   
    border-top: double 0.2em $color-lighter;
    border-bottom: double 0.2em $color-lighter;
    h1{
     margin:0;
     }
     h2{
     margin: 0;
     font-size: 1em;
     font-style: italic;
     text-transform: none;
     }
}
    
nav{
    ul{
        margin:0;
        padding: 1em 0 0 0;
        list-style: none;
     }
    li{display: inline-block;}
    a{
        display: block;
        padding: 0em 0.2em 0.5em 0em;
        text-decoration: none;
        @include font;
    }
    a:hover{
        text-decoration: underline;
    }
    .active{
        font-weight: bold;
        font-size: 110%;
    }
}
.submain, .subsection{
    padding-top: 1em;

}
.top{
    padding-top: 1em;
    }
    .center{
        border: 0.2em solid $color-lighter;
    }
    .container{
    }
footer {
        padding-top: 1em;
        border-top: 0.1em double $color-lighter;
        text-align: center;
        font-size: 110%;
}

/*Smartphones- skärmar max 480px */
 @media only screen and (max-width:480px) {
     .container{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    } 
    img {
        width: 95%;
    }
    .submain, .subsection{
            border-top: 0.1em double $color-lighter;
    }

/*Formulär */
   form{
        margin-top: 1em;
   
        label {
            text-align: left;
            display: inline;
            clear: left;
        }
        input, textarea, select {
            width: 90%;
            margin-bottom: 0.7em;
        }
        .button{
            margin-top: 0.5em;
        }
   }
 }
 
 @media only screen and (min-width:481px) {

header{
    padding: 1em 0.5em;   
    border-top: double 0.3em $color-lighter;
    border-bottom: double 0.3em $color-lighter;
    h1{
     font-size: 3em;
    }
     h2{
        font-size: 1.5em;
        font-style: italic;
     margin-top: 0.3em;
    }
}
nav{
    padding: 1em 0.5em; 
    a{
       font-size: 125%;
    }
 
    .active{
        font-size: 130%;
        text-shadow: 0.05em -0.05em 0.1em;
    }
}

form{
    width: 100%;

    label {
         display: block;
         float: left;
         padding-right: 1em;
         clear: left;
         width: 150px;
    }
    input, textarea {
        width: 300px;
        margin-bottom: 1em;
    }
}

.subcontainer{
    img{
        width: 95%;
        }
        overflow: auto;
}
.subcontainerLeft{
    float:left;
    width: 47%;
    max-width: 450px;
    padding: 0.5em;
}
.subcontainerRight{
     float:left;
     width: 47%;
     max-width: 450px;
     padding: 0.5em;
}
.top{
   padding: 0.5em;
}
.center{
   max-width: 96%;
}
    
 }
@media print {
    nav, .center {
        display: none;
    }
   
    .content {
        width: 85%;
    }
    a::after {
        content:" ("attr(href)") ";
    }
 }
    
 